**/bin/
**/obj/
**/node_modules/
**/data/*
!backend/data/benchmark.json
work/
runtime/
*.db
*.db-shm
*.db-wal
backend/appsettings.Local.json
.tools/
work/
backend/appsettings.Local.json

!backend/data/gpo-production-mappings.json
!backend/data/mapping_sources/
!backend/data/mapping_sources/**
